<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name="API Test Suite">
    <test name="Login and Club Tests">
        <classes>
            <class name="WebAdminLoginTest.LoginTest"/>
            <class name="SuperAdminLogin.SuperAdminLogin"/>
            <class name="Countries.CountriesTest"/>
            <class name="Institution.InstitutionsTest"/>
            <class name="Institution.CountryCleanUP"/>
            <class name="Organizations.OrganizationsTest"/>
            <class name="NotificationHistory.NotificationHistoryTest"/>
            <class name="NotificationType.NotificationTypeTest"/>
            <class name="NotificationTemplate.NotificationTemplateTest"/>
            <class name="ScheduleNotification.ScheduleNotificationTest"/>
            <class name="MobileTest.MobileLoginTestNewUsers"/>
            <class name="WaitList.WaitListTest" />
            <class name="WaitList.ApproveWaitListTest"/>
            <class name="Leaderboard.LeaderboardTest"/>
            <class name="QuestionBank.QuestionBankTest"/>
            <class name="Questions.QuestionsTest"/>
            <class name ="CleanUpTest.TestCleanUp"/>
            <class name="Quiz.QuizTest"/>
            <class name="Clubs.ClubTest"/>



<!--            <class name="Events.EventsTest"/>-->
<!--            <class name="Raffle.RaffleTest"/>-->
<!--            <class name="GeneralPost.GetInstitutionsTest"/>-->
<!--            <class name="GeneralPost.GeneralPostTest"/>-->
<!--            <class name="Opportunity.OpportunityTest"/>-->


        </classes>
    </test>
</suite>
